@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Roboto:wght@400;500&family=Varela+Round&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: black;
    --secondary-color: white;
    --primary-text-color: white;
    --secondary-text-color: black;
    transition: all 0.3 ease;
  }

body {
    background-color: var(--primary-color);
    font-size: 50px;
    scroll-behavior: smooth;
    cursor: default;
}

::-webkit-scrollbar{
    display: none;
}


html {

    scroll-behavior: smooth;
}

h1 {
    font-family: 'Martel Sans', sans-serif;
    color: var(--primary-text-color);
    font-size: 6.4rem;
    line-height: 5.3rem;
}



.download{
    padding: 1rem;
    background-color: transparent;
    color: var(--primary-text-color);
    font-weight:600;
    font-size: 1.2rem;
    border-radius: 50px;
    border-width: 0.1rem;
    border-color: #a443ff;
    transition: all 1s;
}
.download:hover{
    background-color: #a443ff;
    color: var(--primary-text-color);
    border-color: transparent;
    transition: all 1s;
    padding: 1rem;

}

.download svg{
    position: relative;
    top: 1.5px;
}
.under {
    margin-top: 1.4rem;
    background: blueviolet;
    border: 4px solid blueviolet;
    border-radius: 50px;
    height: 0.5rem;
    width: 0;  /* Set initial width to 0 */
    animation: slideFromLeft 1.5s ease-out forwards;  /* Add animation */
    box-sizing: unset;
}

@keyframes slideFromLeft {
    to {
        width: 28.5rem;  /* Set final width */
    }
}

p{  margin-top: 1.3rem;
    margin-bottom: 1.4rem;
    line-height: 1.5rem;
    font-family: 'Martel Sans', sans-serif;
    color: var(--primary-text-color);
    font-size: 1rem;
    font-weight: 200;
    width: 35rem;
}

.section-hero {
    padding: 4rem;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background: var(--primary-color);
}

.scroll{
    width: 100vw;
    height: 15vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll img{
    padding:0rem;
    position: absolute;
    height: 5rem;
    width:5rem;
}
.scroll img :nth-child(1){
    z-index: 1;
}

.scroll img :nth-child(2){
    
    z-index: 2;
    transition: 0.2s;
}
.scroll img:nth-child(2):hover{
    transform: rotateY(20deg) scale(1.1) rotate(360deg); 
    transition: 10s;
    

}

.hero-leftside {
    padding: 2rem;
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.hero-leftside img{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.hero-rightside {
    flex-basis: 50%;
    position: relative;
    padding: 2rem;
    margin: 2rem;
    justify-content: flex-end;

}

/* Individual image styling */
.hero-rightside img {
    height: 40rem;
    width: 40rem;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    margin-top: 1rem;
    margin-right: 2rem;
}

/* Set z-index for each image */
.hero-rightside img:nth-child(1) {
    z-index: 1;
    height: 42rem;
    width: 42rem;
    animation: moveUp 3s infinite alternate; /* Add animation for the first child */
}

.hero-rightside img:nth-child(2) {
    z-index: 2;
    transition: transform 0.5s ease;
    animation: move 2s ;
    /* animation: moveup 2s;
    animation: movedown 2s; */
    
}


.hero-rightside img:nth-child(3) {
    z-index: 3;
    animation: moveDown 3s infinite alternate; /* Add animation for the third child */
}
::selection{
    color: rgb(139, 15, 227);
}
/* Define animation keyframes for moving up */
@keyframes moveUp {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px); /* Adjust the value as needed for upward movement */
    }
}

@keyframes move {
    0%{
        transform: translateY(40px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
        
    }
}

@keyframes move2 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px); /* Adjust the value as needed for upward movement */
    }
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px); /* Adjust the value as needed for upward movement */
    }
}
/* Define animation keyframes for moving down */
@keyframes moveDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px); /* Adjust the value as needed for downward movement */
    }
}


.line{
    background: var(--secondary-color);
    border: 0px solid var(--primary-text-color);
    border-radius: 50px;
    height: 0.1rem;
    width: 5rem;
    margin: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.getsocial{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

}

.social_txt{
    width: 6rem;
    font-size: 1.2rem;
}
.svg-icon {
    fill: black;
    transition: fill 0.3s ease; /* Add a transition for a smooth color change */
    position: relative;
    cursor: pointer;
    top: -4px;
    margin-right: 0.5rem;
    fill: black;
    color: black;
}

/* Change the fill color to blueviolet on hover */
.svg-icon:hover path {
    fill: blueviolet; /* Set the hover color */
    transition: all 0.5s;
}

/*CSS FOR SKILLS SECTION */

.skills {
    align-items: center;
    padding: 4rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    
}

.skill{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
}
.skill .animated{
    opacity:1;
    transform: translateY(0);
}
.card {
    padding: 1rem;
    width: 37rem;
    height: 37rem;
    background-color: #242424;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Set a 2-column grid */
    gap: 2rem; /* Add some gap between the circles */
}




.badge{
    margin-top: 5px; 
    margin-right: 5px;/* Adjust the margin as needed */
    width: 160px; /* Adjust the size as needed */
    height: 60px;
}

.skill-leftside{
    margin:2rem;
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.skill-rightside{
    margin: 1rem;
    text-align: center;
    flex-basis: 40%;
    position: relative;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;

}



/* CSS FOR EXPERIENCE SECTION */
.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    opacity: 0;
    height: 0;
    transition: opacity 0.5s, height 1s;
}

.timeline.animated {
    opacity: 1;
    height:90vh;
}

.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    background: transparent;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.container.animated {
    /* Your animated styles using keyframes */
    opacity: 1;
    transform: translateY(0);
}

.text-box{
    padding: 20px 30px;
    border-radius: 20px;
    font-size: 20px;
    background: #242424;
    font-family: 'Martel Sans', sans-serif;
    color: white;
}

.left-container{
    left: 0;
    text-align: right;
}

.left-container a{
    cursor: pointer;
}

.right-container{
    left: 50%;

}
.container img{
    position: absolute;
    width: 60px;
    border-radius: 50%;
    right: -30px;
    top: 25px;
    z-index: 10px;
}

.right-container img{
    left: -30px;
}

.timeline::after{
    content: '';
    position:absolute;
    width: 10px;
    height: 100%;
    background: blueviolet;
    border-radius: 4px;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
}

@keyframes moveline{
   0%{
    height: 0;
   } 
   100%{
    height: 100%;
   }

}
.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent ;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #242424;
    right: 40px;
}

.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent ;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #242424;
    left: 40px;
    
    
}

.text-box small{
    color:  blueviolet;
    font-weight: 600;
    cursor: pointer;
}

/* CSS FOR PROJECTS SECTION */
.container-img{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    cursor: pointer;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
    margin-bottom: 4rem;
}
.gallery .animated{
    opacity: 1;
    transform: translateY(0);

}

.img-box{
    width: 150px;
    height: 550px;
    margin: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 50px ;
    background: url(images/projects/1.svg);
    background-size: cover;
    background-position: center;
    position: relative;
    transition: width 0.5s;
}

.img-box:nth-child(2){
    background: url(images/projects/2.svg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(3){
    background: url(images/projects/3.svg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(4){
    background: url(images/projects/4.svg);
    background-size: cover;
    background-position: center;
}

.img-box h3{
    color: var(--primary-text-color);
    position: absolute;
    bottom: 0;
    left: 30px;
    font-family: 'Martel Sans', sans-serif;
    font-size: 30px;
    padding-left: 1rem;
    display: none;

}

.img-box:hover{
    width: 500px;

}

.img-box:hover h3{
    display: block;
    font-weight: 1000;
}

.img-box:nth-child(1):hover h3{
    display: block;
    color: black;
    font-weight: 1000;
    transition: all 1s;
}

/* CSS FOR ABOUT SECTION */

.about{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
    width: 100vw;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
}

.scrollup{
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.scrollup img {
    padding: 0rem;
    height: 6.5rem;
    width: 6.5rem;
    cursor: pointer;
    position: absolute;
    transition: transform 0.2s ease-in-out;
}

.scrollup img:nth-child(1) {
    z-index: 1;
}

.scrollup img:nth-child(2) {
    z-index: 2;
    transform: translateY(0); /* Start with no transformation */
}

.scrollup:hover img:nth-child(2) {
    transform: translateY(-10px); /* Adjust the distance as needed */
}

.paragraph{
    display:none;
}

@media only screen and (max-width: 1220px) {
    .section-hero{
        display: none;
    }
    .scroll{
        display: none;
    }
    .skills{
        display: none;
    }
    .timeline_main{
        display: none;
    }
    .container-img{
        display: none;
    }
    .about{
        display: none;
    }
    .footer{
        display: none;
    }
.paragraph{
        display: flex;
        align-items: center;
        justify-content: center; 
        align-content: center;
        margin: 4rem;
    }
    .paragraph p{
        color: var(--primary-text-color);
        font-family: 'Martel Sans', sans-serif;
        font-weight: 500;
        text-align: center;
        font-size: 3rem;
        line-height: 50px;
    }
}

.tg-button {
    position: fixed;
    top: 5px;
    right: 5px;
    padding: 10px 20px;
    background-color: transparent;
    color: var(--primary-text-color);
    border: none;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  .tg-button i {
    margin-right: 10px;
  }
  
  .tg-button:hover {
    opacity: 0.8;
  }